
body {
	background-image: url("../assets/emotions.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

h1 {
  font-size: 4.0em;
  color: #e5a073;
	text-align: center;
	font-family:'Roboto', sans-serif;
	font-weight: 1000;
	font-style: italic;

}

#buttons-view {
	font-size: 25px;
	background: #E5A073;
	padding: 10px 15px;
	margin-left: 15px;
	margin-right:200px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 20px;

}

#emotion-button {
	font-size: 25px;
	background: #E5A073;
	padding: 10px 15px;
	margin-left: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 20px;

}

#emotion-input {
	font-size: 25px;
	padding: 10px 15px;
	margin-left: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 20px;


}
